@import "tailwindcss"; 
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(62% 0.265 303.9);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(71% 0.203 305.504);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(70% 0.183 293.541);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(55% 0.288 302.321);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --color-light: oklch(94% 0.029 294.588);
  --color-light-content: oklch(94% 0.033 307.174);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
